<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="to-do-list">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `to-do-list`
     * Componente para un To Do List
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ToDoList extends Polymer.Element {
      static get is() { return 'to-do-list'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'to-do-list'
          }
        };
      }
    }

    window.customElements.define(ToDoList.is, ToDoList);
  </script>
</dom-module>
