<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../polymer/lib/utils/gestures.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="to-do-list">
  <template>
    <style>
      /* :host {
        display: block;
      } */
      /* .task {
        display: flex;
        align-items: center;
      } */

      section{
        text-align: center;
        width: 0 auto;
      }

      paper-input {
        display: inline-block;
        text-align: center;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> -->
    <section>
      <h3>To Do: </h3>
      <dom-repeat items="{{tasks}}" as="task" filter="isNotCompleted" observe="completed">
        <template is="dom-repeat">
          <div class="task">
            <paper-checkbox type="checkbox" checked="{{task.completed}}"></paper-checkbox>
            <paper-input label="task name" no-label-float value="{{task.name}}"></paper-input>
          </div>
        </template>
      </dom-repeat>

      <h3>Completed: </h3>
      <dom-repeat items="{{tasks}}" as="task" filter="isCompleted" observe="completed">
        <template is="dom-repeat">
          <div class="task">
            <paper-checkbox type="checkbox" checked="{{task.completed}}"></paper-checkbox>
            <paper-input label="task name" no-label-float value="{{task.name}}"></paper-input>
          </div>
        </template>
      </dom-repeat>
      <paper-button on-click="addTask" raised>Add task</paper-button>
    </section>
  </template>

  <script>
    /**
     * `to-do-list`
     * Componente para un To Do List
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ToDoList extends Polymer.Element {
      static get is() {
        return 'to-do-list';
      }
      static get properties() {
        return {
          tasks: {
            type: Array,
            value: () => []
          }
        };
      }

      addTask() {
        const newTask = {
          name: '',
          completed: false
        };

        this.push('tasks', newTask);
      }

      isNotCompleted(task) {
        return !task.completed;
      }

      isCompleted(task) {
        return task.completed;
      }
    }

    window.customElements.define(ToDoList.is, ToDoList);
  </script>
</dom-module>